# Entorno virtual
venv/
env/
ENV/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Configuración local de VS Code u otros editores
.vscode/
.idea/

# Base de datos local de SQLite (por si quedó alguna por ahí)
db.sqlite3